doctype html
html
    head
        block head
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')

            title Natours | #{title}
            link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,700'
    rel='stylesheet')
        link(ref='shortcut icon' type='image/png' href='/img/favicon.png')
        link(rel='stylesheet', href='/css/style.css', type='text/css')

    body
        include _header

        block content
            h1 #{title}

        include _footer

        block body
            script(src='/js/bundle.js')