mixin guideBox(guide)
    .overview-box__detail
        img.overview-box__img(src=`/img/users/${guide.photo}`, alt=`${guide.name}`)

        - if (guide.role === 'lead-guide')
            span.overview-box__label Lead guide
        - if (guide.role === 'guide')
            span.overview-box__label Tour guide
        span.overview-box__text= guide.name